body {
  background-image: url("../Images/3.jpg");
  background-repeat: no repeat;
  background-size: cover;
}
*:focus {
  outline: none;
}
.box {
  box-sizing: border-box;
  width: 560px;
  height: 600px;
  border-radius: 100px;
  background: linear-gradient(45deg, #000000, #614923);
  margin-top: 50px;
  overflow: hidden;
  opacity: 0.9;
}
.per {
  box-sizing: border-box;
  border-radius: 100%;
  margin: 25px;
  border: 5px solid #21924e;
  padding: 3px;
  background-color: white;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  background: none;
  color: #3498db;
  margin-bottom: 30px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #0082e6;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #1e00ff;
  border-bottom-right-radius: 20px;
  color: #ffffff;
  transition: 0.2 ease;
}
button {
  background-color: rgb(56, 141, 60);
  color: white;
  height: 50px;
  width: 120px;
  border-radius: 5px;
  margin: 0px;
  transition: all 0.3s;
}
button:hover {
  transform: scale(1.1);
}
input[type="file"] {
  display: none;
}
label {
  box-sizing: border-box;
  font-size: 20px;
  background-color: rgb(56, 141, 60);
  color: white;
  border: 1px solid #3498db;
  padding: 2px 15px;
  border-radius: 5px;
  transition: all 0.3s;
}
label:hover {
  background-color: #3498db;
  color: black;
}
p {
  color: #000000;
}
