input.submit_btn {

  background-color: darkblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
input.submit_btn:hover{
  background-color:#2cffa7 ;

}
